.navbar-2 nav {background-color:rgb(247, 143, 94);}
    .navbar-2 a {color:#fff;}

    .navbar-2 a {position: relative;}
    .navbar-2 a:after {content:""; display:block; position:absolute; left:0; bottom:15px; width:100%; height:1px; background-color:#fff; transform:scaleX(0); transform-origin:center left; transition:.45s;}
    .navbar-2 a:hover:after {transform:scale(1);}

blockquote {
    padding: 24px;
    font-style: italic;
    border-radius: 4px;
    color: rgb(247, 143, 94);
    background-color:white;
    border: 6px double;
}

.pagination {
    margin-bottom: 20px;
}